a {
	color: blue;
	text-decoration: underline;
}

a:link {
	text-decoration: underline;
	color: blue;
}

a:visited {
	text-decoration: underline;
	color: orange;
}

a:active {
	text-decoration: underline;
	color: blue;
}

a:hover {
	text-decoration: none;
	color: red;
}