body {
	width: 800;
	height: 600;
	margin: auto;
	background-image: url("../images/clockBg.jpg");
	font-size: 62.5%;
}

img {
	border: 0;
	behavior: url(iepngfix.htc);
}

p {
	margin-left: 10;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: small;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: blue;
}

a:link {
	text-decoration: underline;
	color: blue;
}

a:visited {
	text-decoration: underline;
	color: orange;
}

a:active {
	text-decoration: underline;
	color: blue;
}

a:hover {
	text-decoration: none;
	color: red;
}

/*header*/
table.header {
	margin: auto;
	padding: 0 35px 5px 35px;
}

td.logo {
	vertical-align: top;
	padding-top: 0;
}

img.logo {
	margin: 20px 0 0 0;
	padding: 0;
}

img.banner {
	margin: 25px 0 0 20px;
	padding: 0;
}

td.banner {
	vertical-align: top;
	padding-top: 0;
}

td.welcome-note {
	vertical-align: middle;
	padding-top: 0;
	width: 100%;
}

td.welcome-note p {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
}

td.welcome-note a {
	color: #fff;
	text-decoration: underline;
}

form {
	margin: 0;
	padding: 0;
}

buttons {
	background-color: #FFCC33;
	border: 0px solid #FFFFFF;
}

div.outer {
	margin-left: 2%;
	width: 96%;
	height: 90%;
	margin-top: 5px;
	position: absolute;
}

div.canvas {
	margin-left: 0.5%;
	width: 99%;
	height: 100%;
	position: relative;
	border: 0px solid #deedf7;
}

div.leftnavLogin {
	margin: auto;
	width: 20%;
	height: 100%;
	position: absolute;
	background-image: url('../../images/loginForm.gif');
}

div.leftnav {
	margin: auto;
	width: 20%;
	height: 100%;
	position: absolute;
}

div.entry {
	margin-top: auto;
	margin-left: 20%;
	width: 80%;
	height: 100%;
	position: absolute;
	border: 0px solid #deedf7;
}

/*Field Set Style Starts*/
fieldset {
	background-color: #deedf7;
	border-width: 2px 2px 2px 10px;
	border-style: solid;
	border-color: #91c0ec;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 20%;
	width: 60%;
	position: relative;
	display: block;
	padding: 0px 10px 10px 10px;
}

fieldset legend {
	background-color: #fff;
	border-width: 1px 1px 1px 10px;
	border-color: #91c0ec;
	border-style: solid;
	color: #000;
	font-weight: bold;
	/*text-transform:uppercase;*/
	font-size: 90%;
	text-align: center;
	width: 50%;
	padding: 3px 5px;
	margin-left: 25%;
	/* margin:0px 0px 10px -40px; */
	/* position:relative; */
	top: -14px;
}

fieldset legend img {
	padding: 0px 5px 0px 5px;
}
/*Field Set Style Ends*/

div.switcher {
	position: relative;
	float: right;
	height: 20px;
	margin-right: 50px;
	margin-top: 15px;
}

.blk {
	display: block;
	position: absolute;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding: 3px;
	z-index: 10;
}

.blk h1,.blk ul,.blk li {
	margin: 0;
	padding: 0;
	list-style: none
}

.syntaxhighlighter {
	margin: 1em 0 1em 0 !important;
	padding: 10px !important;
	position: relative !important;
	background-color: #000;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New",
		Courier, monospace !important;
	font-weight: normal; ! important;
	font-style: normal !important;
	font-size: 1.1em !important;
	direction: ltr !important;
	color: #96DD3B !important;
}

.explanationhighlighter {
	width: 90% !important;
	margin: 1em 0 1em 0 !important;
	padding: 10px !important;
	position: relative !important;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New",
		Courier, monospace !important;
	font-weight: normal; ! important;
	font-style: normal !important;
	font-size: 1.1em !important;
	border: 1px solid black;
	color: #000 !important;
}

.digiclock {
	position: relative;
	float: left;
	margin-top: 15px; 
	margin-left: 28px;
	border: 0px solid #000;
	background-image: url("../images/clockBg.jpg");
}

#Date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: gray;
	margin-left: 8px;
	text-shadow: 0 0 5px white;
}

ul.clock {
	float: left;
	width: 240px;
	margin: 0 auto;
	padding: 0px;
	list-style: none;
	text-align: center;
}

ul li.clock {
	display: inline;
	font-size: 2em;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	text-shadow: 0 0 5px white;  
}

#point {
	position: relative;
	-moz-animation: mymove 1s ease infinite;
	-webkit-animation: mymove 1s ease infinite;
	padding-left: 0px;
	padding-right: 0px;
}

.header {
	height: 50px;
	background-image: url("../images/clockBg.jpg");
}

.footer {
	width: 100%;
	height: 55px;
	margin-top:80%;
	background-image: url("../images/clockBg.jpg");
	position: absolute;
}